.forgot-password-field {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;

  form {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20vh;


    h1 {
      font-size: 2rem;
      color: var(--color-headings);
      font-weight: normal;
      margin-top: 20px;
      opacity: 90%;
      
      > span {
        font-weight: bolder;
        font-size: 2.2rem;
      }
    }

    > span {
      color: var(--color-text);
      margin-bottom: 45px;
      margin-top: 10px;
      font-size: 1rem;
      text-align: center;

      &:nth-child(4) {
        width: 100%;
        text-align: left;
        font-size: 0.7rem;
        margin: 0;
        margin-bottom: 35px;
      }

      > span {
        font-weight: bolder;
        font-size: 1.1rem;
      }
      
      @media only screen and (max-width: 800px) {
        & {
          font-size: 0.9rem;
        }
      }
    }

    > div {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin-bottom: 20px;
      position: relative;

      input[type='number'] {
        text-align: center;
        width: 13%;
        border: none;
        border-bottom: 1px solid var(--color-border);
        padding: 5px;
        outline: none;
        font-size: 1.5rem;
        background-color: var(--bg-color);
        color: var(--color-text);

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        &::placeholder {
          color: var(--color-border);
          opacity: 70%;
        }

        &:focus {
          transition: 1s;
          border-bottom: 1px solid var(--color-primary);
          color: var(--color-primary);

          &::placeholder {
            color: var(--color-primary);
            opacity: 7%;
          }
        }
      }

      label {
        position: absolute;
        top: 0;
        font-size: 1.05rem;
        color: var(--color-text);
      }

      input[type='email'], input[type='text'], input[type='password'] {
        border: none;
        border-bottom: 1px solid var(--color-border);
        padding: 5px;
        outline: none;
        font-size: 1rem;
        background-color: var(--bg-color);
        color: var(--color-headings);
        
        & + label {
          transform: translateY(-20px);
          font-size: 0.9rem;
        }
        
        &:placeholder-shown + label {
          transform: translateY(0);
          font-size: 1rem;
        }

        &::placeholder {
          visibility: hidden;
        }

        &:focus {
          transition: 1s;
          border-bottom: 1px solid var(--color-primary);

          & + label {
            transition: 0.5s;
            transform: translateY(-20px);
            font-size: 0.9rem;
            color: var(--color-primary);
          }
        }
      }

      svg {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 0;
        top: 0;
        padding: 5px;
        cursor: pointer;
        border-radius: 20px;
        opacity: 40%;

        &:hover {
          transition: 1s;
          background: rgba(255, 255, 255, 0.1);
        }
      }
    }

    .div-input {
      display: flex;
      flex-direction: column;
      margin-bottom: 35px;
    }
    
    input[type='submit'] {
      border-radius: 5px;
      background-color: transparent;
      border: 1px solid var(--color-border);
      color: var(--color-text);
      width: 100%;
      padding: 10px;
      cursor: pointer;
      font-size: 1.05rem;
      margin-bottom: 40px;

      &:hover {
        transition: 1s;
        background-color: var(--color-primary);
        color: var(--color);
        font-weight: bold;  
      }

      &:active {
        transition: 1ms;
        opacity: 20%;
      }
    }
  }
}
