.menu {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--color-border);
  position: relative;

  .position {
    width: 75%;
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;

    @media only screen and (max-width: 800px) {
      & {
        width: 85%;
      }
    }

    > img {
      filter: grayscale(1);
    }

    > div {
      position: relative;

      > a {
        text-decoration: none;
        padding: 10px 35px;
        color: var(--color-text);
        border-radius: 10px;

        &:nth-child(2) {
          background-color: var(--bg-panel);

          &:hover {
            transition: 1s;
            color: var(--color-text);
            opacity: 35%;
          }

          &:active {
            transition: 0.1s;
            opacity: 100%;
            color: var(--color-text);
          }
        }

        &:hover {
          transition: 1s;
          color: var(--color-primary);
        }

        &:active {
          transition: 0.1s;
          color: var(--color-text);
        }
      }

      > span,
      img {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background-color: #004b3e;
        cursor: pointer;
        font-size: 1rem;
        color: white;
        object-fit: cover;
        
        @media only screen and (max-width: 800px) {
          & {
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }

  .btn-menu {
    width: 80%;
    position: absolute;
    bottom: 10px;

    @media only screen and (max-width: 800px) {
      & {
        width: 100%;
      }
    }

    a {
      text-decoration: none;
      color: var(--color-text);
      font-size: 1rem;
      padding: 11px 25px;

      &:hover {
        transition: 1s;
        color: var(--color-primary);
      }

      &:active {
        transition: 0.1s;
        color: var(--color-text);
        opacity: 50%;
      }
    }
  }

  #active {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
  }
}

.menu-mobile {
  background-color: var(--bg-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 997;
  display: flex;
  justify-content: center;
  align-items: center;

  .position {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    
    .btns-auth {
      background-color: var(--bg-panel-menu);

      &:nth-last-child(1) {
        border-bottom: none;
      }
    }

    a {
      text-decoration: none;
      color: var(--color-text);
      width: 100%;
      padding: 30px 0;
      font-size: 1.1rem;
      border-bottom: 1px solid var(--color-border);
      text-align: center;

      &:active {
        transition: 0.1s;
        color: var(--color-primary);
      }
    }
  }
}
