* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
}

:root {
    --bg-color: white;
    --bg-panel: #f5f5f5;
    --color-text: gray; 
    --color-primary: rgb(0, 132, 255);
    --color-border: #edeff0;
    --color-headings: #454545;
    --color: white;
    --color-opposite: rgba(0, 0, 0, 0.7);
}
