@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap);

.notfound-field {
  width: 100%;
  height: 100vh;
  background: white;
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .div-image {
    width: 800px;
    height: 50vh;
    position: relative;
    margin-bottom: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: 800px) {
      & {
        width: 100%;
        height: 35vh;
      }
    }

    > h1 {
      font-family: 'Roboto Slab', serif;
      font-size: 6rem;
      color: var(--color-headings-notfound);
      position: absolute;
      top: 0;
      right: 50%;
      margin: 0 -75px;
      z-index: 99;
    }
  }

  .div-info {
    width: 450px;
    position: absolute;
    bottom: -70px;
    right: 50%;
    margin: 0 -225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99;
    background-color: white;
    
    @media only screen and (max-width: 800px) {
      & {
        width: 100%;
        bottom: -10vh;
        margin: 0 -50%;
      }
    }

    h3 {
      font-family: 'Roboto Slab', serif;
      font-weight: normal;
      font-size: 3rem;
      color: var(--color-headings-notfound);
      text-align: center;

      @media only screen and (max-width: 800px) {
        & {
          font-size: 2rem;
          width: 80%;
        }
      }
    }
    
    p {
      text-align: center;
      color: var(--color-text-notfound);
      font-size: 1.1rem;

      @media only screen and (max-width: 800px) {
        & {
          width: 80%;
        }
      }
    }

    .btn-home {
      color: #fff;
      padding: 10px 20px;
      background: var(--color-primary);
      text-decoration: none;
      margin-top: 30px;

      &:hover {
        transition: 1s;
        text-decoration: underline;
      }

      &:active {
        transform: 0.1s;
        opacity: 10%;
      }
    }
  }
}
