.toggle-menu {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  display: none;
  align-items: center;  
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s;
  z-index: 998;

  @media only screen and (max-width: 800px) {
    & {
      display: flex;
    }
  }

  .toggle-menu-item {
    width: 30px;
    height: 3.7px;
    background: var(--color-text);
    transition: all 0.5s ease-in-out;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 3.7px;
      background: var(--color-text);
      transition: all 0.5s ease-in-out;
    }

    &::before {
      transform: translateY(-8px);
    }

    &::after {
      transform: translateY(8px);
    }
  }
}

.active .toggle-menu-item {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;

  &::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  &::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}
