@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap);
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
}

section {
  min-height: 80vh;
}

.menu {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--color-border);
  position: relative;
}
.menu .position {
  width: 75%;
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-between;
}
.menu .position > img {
  filter: grayscale(1);
}
.menu .position > div {
  position: relative;
}
.menu .position > div > a {
  text-decoration: none;
  padding: 10px 35px;
  color: var(--color-text);
  border-radius: 10px;
}
.menu .position > div > a:nth-child(2) {
  background-color: var(--bg-panel);
}
.menu .position > div > a:nth-child(2):hover {
  transition: 1s;
  color: var(--color-text);
  opacity: 35%;
}
.menu .position > div > a:nth-child(2):active {
  transition: 0.1s;
  opacity: 100%;
  color: var(--color-text);
}
.menu .position > div > a:hover {
  transition: 1s;
  color: var(--color-primary);
}
.menu .position > div > a:active {
  transition: 0.1s;
  color: var(--color-text);
}
.menu .position > div > span, .menu .position > div img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  background-color: #004b3e;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu .btn-menu {
  width: 80%;
  position: absolute;
  bottom: 10px;
}
.menu .btn-menu a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 1rem;
  padding: 11px 25px;
}
.menu .btn-menu a:hover {
  transition: 1s;
  color: var(--color-primary);
}
.menu .btn-menu a:active {
  transition: 0.1s;
  color: var(--color-text);
  opacity: 50%;
}
.menu #active {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
}

footer {
  width: 100%;
  border-top: 1px solid var(--color-border);
}
footer > div {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer > div > div:nth-child(1) {
  display: flex;
}
footer > div > div:nth-child(1) a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 1.1rem;
  opacity: 70%;
  cursor: pointer;
}
footer > div > div:nth-child(1) a:hover {
  transition: 1s;
  text-decoration: underline;
  opacity: 100;
}
footer > div > div:nth-child(1) a:active {
  transition: 0.1s;
  opacity: 20%;
}
footer > div > div:nth-child(1) a:nth-child(2) {
  margin-left: 30px;
}
footer > div > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  width: 10%;
  margin: 30px 0;
}
@media only screen and (max-width: 800px) {
  footer > div > div:nth-child(2) {
    width: 35%;
  }
}
footer > div > div:nth-child(2) img {
  width: 35px;
  cursor: pointer;
  opacity: 30%;
  filter: invert(1);
}
footer > div > div:nth-child(2) img:hover {
  transition: 1s;
  opacity: 70%;
}
footer > div > div:nth-child(2) img:active {
  transition: 0.1s;
  opacity: 20%;
}
footer > div p {
  font-size: 1rem;
  color: var(--color-text);
  letter-spacing: 1px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  opacity: 70%;
}
@media only screen and (max-width: 800px) {
  footer > div p {
    width: 65%;
    text-align: center;
  }
}
footer > div p span {
  font-weight: bolder;
}

.field-loader {
  width: 100%;
  height: 100vh;
  background: var(--bg-color);
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  transition: 0s;
}
.field-loader .field {
  margin-bottom: 25vh;
}
.field-loader .field .sk-chase {
  width: 45px;
  height: 45px;
  position: relative;
  -webkit-animation: sk-chase 2.5s infinite linear both;
          animation: sk-chase 2.5s infinite linear both;
}
.field-loader .field .sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: sk-chase-dot 2s infinite ease-in-out both;
          animation: sk-chase-dot 2s infinite ease-in-out both;
}
.field-loader .field .sk-chase-dot::before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: var(--color-text);
  border-radius: 100%;
  -webkit-animation: sk-chase-dot-before 2s infinite ease-in-out both;
          animation: sk-chase-dot-before 2s infinite ease-in-out both;
}
.field-loader .field .sk-chase-dot:nth-child(1) {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.field-loader .field .sk-chase-dot:nth-child(2) {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.field-loader .field .sk-chase-dot:nth-child(3) {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.field-loader .field .sk-chase-dot:nth-child(4) {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.field-loader .field .sk-chase-dot:nth-child(5) {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
.field-loader .field .sk-chase-dot:nth-child(6) {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.field-loader .field .sk-chase-dot:nth-child(1):before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.field-loader .field .sk-chase-dot:nth-child(2):before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.field-loader .field .sk-chase-dot:nth-child(3):before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.field-loader .field .sk-chase-dot:nth-child(4):before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.field-loader .field .sk-chase-dot:nth-child(5):before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
.field-loader .field .sk-chase-dot:nth-child(6):before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
@-webkit-keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes sk-chase-dot {
  80%, 100% {
    transform: rotate(360deg);
  }
}
@keyframes sk-chase-dot {
  80%, 100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%, 0% {
    transform: scale(1);
  }
}
@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%, 0% {
    transform: scale(1);
  }
}

dialog {
  left: 50%;
  top: 50%;
  margin: -42.5vh -350px;
  width: 700px;
  max-height: 85vh;
  background: var(--bg-color);
  border-radius: 15px;
  border: 1px solid var(--color-border);
  position: relative;
}
dialog::-webkit-scrollbar {
  width: 10px;
  border: none;
}
dialog::-webkit-scrollbar-track {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: var(--bg-color);
}
dialog::-webkit-scrollbar-thumb {
  background-color: var(--bg-panel);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 1px solid var(--color-text);
}
@media only screen and (max-width: 800px) {
  dialog {
    margin: -175px -47.5%;
    min-width: 95%;
  }
}
dialog .position {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
dialog .position form {
  width: 83%;
}
dialog .position form #btn-delete {
  position: absolute;
  right: 10px;
  cursor: pointer;
  opacity: 60%;
  border-radius: 7px;
}
dialog .position form #btn-delete:hover {
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 100%;
}
dialog .position form #btn-delete:active {
  transition: 0.1s;
  opacity: 20%;
}
dialog .position form #btn-close {
  width: 35px;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  opacity: 60%;
  border-radius: 7px;
}
dialog .position form #btn-close:hover {
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 100%;
}
dialog .position form #btn-close:active {
  transition: 0.1s;
  opacity: 20%;
}
dialog .position form h1 {
  font-size: 1.8rem;
  color: var(--color-headings);
  font-weight: normal;
  margin-bottom: 55px;
}
dialog .position form hr {
  border: none;
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 25px;
}
dialog .position form > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
dialog .position form > div:nth-child(2) > div:nth-child(1) {
  width: 55%;
}
dialog .position form > div:nth-child(2) > div:nth-child(2) {
  width: 40%;
}
dialog .position form .field-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-bottom: 40px;
}
dialog .position form .field-inputs:nth-child(6) {
  margin-bottom: 0;
}
dialog .position form .field-inputs > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
dialog .position form .field-inputs > div input {
  width: 80%;
}
dialog .position form .field-inputs > div input[type=radio] {
  position: absolute;
  right: 32px;
  cursor: pointer;
  width: 20px;
}
dialog .position form .field-inputs > div input[type=radio]:checked {
  -webkit-animation: boom 0.2s ease-in;
          animation: boom 0.2s ease-in;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
@-webkit-keyframes boom {
  0% {
    opacity: 0.2;
    transform: scale(1.5);
  }
  90% {
    opacity: 0.01;
    transform: scale(3);
  }
  100% {
    transform: none;
  }
}
@keyframes boom {
  0% {
    opacity: 0.2;
    transform: scale(1.5);
  }
  90% {
    opacity: 0.01;
    transform: scale(3);
  }
  100% {
    transform: none;
  }
}
dialog .position form .field-inputs .field-text {
  width: 100%;
  background-color: var(--bg-panel);
  padding: 7px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  align-items: center;
}
dialog .position form .field-inputs .field-text > span {
  color: var(--color-headings);
  font-size: 1rem;
  margin-left: 5px;
  width: 90%;
}
dialog .position form .field-inputs label {
  position: absolute;
  top: 0;
  font-size: 1.05rem;
  color: var(--color-text);
}
dialog .position form .field-inputs input[type=text] {
  border: none;
  border-bottom: 2px solid var(--color-text);
  padding: 5px;
  outline: none;
  font-size: 1rem;
  background-color: var(--bg-color);
  color: var(--color-headings);
}
dialog .position form .field-inputs input[type=text] + label {
  transform: translateY(-20px);
  font-size: 0.9rem;
}
dialog .position form .field-inputs input[type=text]:-moz-placeholder-shown + label {
  transform: translateY(0);
  font-size: 1rem;
}
dialog .position form .field-inputs input[type=text]:-ms-input-placeholder + label {
  transform: translateY(0);
  font-size: 1rem;
}
dialog .position form .field-inputs input[type=text]:placeholder-shown + label {
  transform: translateY(0);
  font-size: 1rem;
}
dialog .position form .field-inputs input[type=text]::-moz-placeholder {
  visibility: hidden;
}
dialog .position form .field-inputs input[type=text]:-ms-input-placeholder {
  visibility: hidden;
}
dialog .position form .field-inputs input[type=text]::placeholder {
  visibility: hidden;
}
dialog .position form .field-inputs input[type=text]:focus {
  transition: 1s;
  border-bottom: 2px solid var(--color-primary);
}
dialog .position form .field-inputs input[type=text]:focus + label {
  transition: 0.5s;
  transform: translateY(-20px);
  font-size: 0.9rem;
  color: var(--color-primary);
}
dialog .position form .field-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}
dialog .position form .field-upload span {
  font-size: 0.7rem;
  color: var(--color-text);
  text-align: center;
  width: 70%;
  margin-bottom: 15px;
}
dialog .position form .field-upload .field-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 2px dashed var(--color-border);
  border-radius: 5px;
  margin-bottom: 10px;
}
dialog .position form .field-upload .field-image > img {
  width: 100%;
  max-height: 200px;
  border-radius: 2px;
  -o-object-fit: cover;
     object-fit: cover;
}
dialog .position form .field-upload input[type=file] {
  display: none;
}
dialog .position form .field-upload input[type=file] ~ label {
  background-color: var(--bg-panel);
  padding: 7px 25px;
  cursor: pointer;
  border: 2px solid var(--bg-panel);
  color: var(--color-headings);
  border-radius: 5px;
  font-size: 1rem;
  position: static;
  width: 100%;
  display: flex;
  justify-content: center;
}
dialog .position form .field-upload input[type=file] ~ label:hover {
  transition: 1s;
  background-color: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}
dialog .position form .field-upload input[type=file] ~ label:active {
  transition: 0.1s;
  background-color: var(--color-primary);
  color: var(--color);
}
dialog .position form .field-page {
  margin-bottom: 40px;
}
dialog .position form .field-page > div {
  display: flex;
  align-items: center;
}
dialog .position form .field-page > div span {
  min-width: 25%;
  max-height: 36.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 30px;
  background-color: var(--bg-panel);
  color: var(--color-headings);
  border: 2px solid var(--bg-panel);
  cursor: pointer;
  border-radius: 3px;
  font-size: 1rem;
  margin-left: 10px;
  position: relative;
}
dialog .position form .field-page > div span #btn-delete {
  opacity: 20%;
}
dialog .position form .field-page > div span:hover {
  transition: 1s;
  filter: brightness(0.7);
}
dialog .position form .field-page > div span:hover > #btn-delete {
  transition: 1s;
  opacity: 70%;
}
dialog .position form .field-page > div span:active {
  transition: 0.1s;
  filter: none;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  color: var(--color);
}
dialog .position form .field-page > div span:active > #btn-delete {
  transition: 0.1s;
  opacity: 20%;
}
dialog .position form .field-page > div .active {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  color: var(--color);
}
dialog .position form .field-page > div .active #btn-delete {
  opacity: 90%;
  filter: invert(1);
}
dialog .position form .field-page > div button {
  min-width: 140px;
  max-height: 36.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 30px;
  width: auto;
}
dialog .position form .field-page::-webkit-scrollbar {
  height: 10px;
  border: none;
}
dialog .position form .field-page::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}
dialog .position form .field-page::-webkit-scrollbar-thumb {
  background-color: var(--bg-panel);
  border-radius: 30px;
  border: 1px solid var(--color-border);
}
dialog .position form input[type=submit] {
  width: 100%;
  background-color: var(--color-primary);
  padding: 10px;
  cursor: pointer;
  border: 2px solid var(--color-primary);
  color: var(--color);
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.05rem;
  letter-spacing: 1px;
  margin-bottom: 40px;
  margin-top: 15px;
}
dialog .position form input[type=submit]:hover {
  transition: 1s;
  background-color: transparent;
  color: var(--color-primary);
}
dialog .position form input[type=submit]:active {
  transition: 0.1s;
  background-color: var(--color-primary);
  color: var(--color);
}
dialog .position form button {
  background-color: var(--bg-panel);
  color: var(--color-headings);
  border: 2px solid var(--bg-panel);
  font-weight: normal;
  width: 18%;
  cursor: pointer;
  border-radius: 3px;
  font-size: 1rem;
}
dialog .position form button:hover {
  transition: 1s;
  background-color: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}
dialog .position form button:active {
  transition: 0.1s;
  background-color: var(--color-primary);
  color: var(--color);
}
dialog::-webkit-backdrop {
  background: rgba(0, 0, 0, 0.6);
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

.field-quizzes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.field-quizzes > .position {
  width: 83%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
  margin-top: 20px;
}
.field-quizzes > .position .card {
  position: relative;
  overflow: hidden;
}
.field-quizzes > .position .card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.field-quizzes > .position .card .info-card {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(21, 21, 21, 0.4392156863), transparent);
}
.field-quizzes > .position .card .info-card .position {
  width: 90%;
  margin-top: 10px;
}
.field-quizzes > .position .card .info-card .position h1 {
  color: white;
  font-size: 1.3rem;
  font-weight: normal;
  filter: drop-shadow(0px 0px 2px var(--color-opposite));
}
.field-quizzes > .position .card .info-card .position p {
  color: rgb(198, 198, 198);
  font-size: 1rem;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.field-quizzes > .position .quiz {
  cursor: pointer;
  width: 24.7%;
  height: 200px;
  border-radius: 5px;
  margin: 0.15%;
  background-color: var(--bg-panel);
}
.field-quizzes > .position .quiz:hover {
  transition: 1s;
}
.field-quizzes > .position .quiz:hover > img {
  transition: 1s;
  transform: scale(1.1);
  filter: brightness(0.5) saturate(0.5);
}
.field-quizzes > .position .add-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.field-quizzes > .position .add-button:hover span {
  transition: 1s;
  opacity: 30%;
}
.field-quizzes > .position .add-button:hover > img {
  transition: 1s;
  opacity: 10%;
}
.field-quizzes > .position .add-button:active {
  transition: 1s;
  filter: brightness(0.5);
}
.field-quizzes > .position .add-button:active span {
  transition: 0.1s;
  opacity: 100%;
}
.field-quizzes > .position .add-button:active > img {
  transition: 0.1s;
  opacity: 50%;
}
.field-quizzes > .position .add-button img {
  opacity: 45%;
}
.field-quizzes > .position .add-button span {
  color: var(--color-text);
  margin-top: 15px;
  font-size: 1.1rem;
}

.settings-field {
  width: 100%;
  display: flex;
  justify-content: center;
}
.settings-field > .position {
  width: 70%;
  display: flex;
}
.settings-field > .position nav {
  width: 27%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--color-border);
  min-height: 75vh;
  position: relative;
}
.settings-field > .position nav a:nth-child(1) {
  margin-top: 40px;
}
.settings-field > .position nav a {
  cursor: pointer;
  color: var(--color-text);
  margin: 5px 25px 5px 12px;
  padding: 7px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.settings-field > .position nav a:hover {
  transition: 1s;
  background-color: var(--bg-panel);
}
.settings-field > .position nav a:active {
  transition: 0.1s;
  opacity: 40%;
}
.settings-field > .position nav svg {
  margin-right: 10px;
  opacity: 50%;
}
.settings-field > .position nav .active {
  background-color: var(--bg-panel);
  font-weight: bolder;
}
.settings-field > .position nav .active::before {
  content: "";
  display: block;
  background-color: var(--color-primary);
  width: 5px;
  height: 30px;
  border-radius: 5px;
  position: absolute;
  left: 0;
}
.settings-field > .position > div {
  min-height: 80vh;
}

.theme-field {
  display: flex;
  justify-content: center;
  width: 73%;
}
.theme-field > .position {
  width: 90%;
  margin-top: 30px;
}
.theme-field > .position > h1 {
  font-weight: normal;
  font-size: 1.4rem;
  color: var(--color-headings);
  width: 100%;
  border-bottom: 1px solid var(--color-border);
  padding: 10px 0;
  margin-bottom: 20px;
}
.theme-field > .position > span {
  color: var(--color-text);
  font-size: 0.9rem;
}
.theme-field > .position > div {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}
.theme-field > .position .theme-card {
  width: 300px;
  height: 215px;
  border-radius: 10px;
  border: 1px solid var(--color-border);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 0 20px 20px 0;
}
.theme-field > .position .theme-card:hover {
  transition: 1s;
  background-color: var(--bg-panel);
}
.theme-field > .position .theme-card:hover div:nth-child(1) {
  transition: 3s;
  background-color: var(--color-text);
  opacity: 50%;
}
.theme-field > .position .theme-card:hover div:nth-child(1) h1 {
  transition: 1s;
  color: var(--color);
}
.theme-field > .position .theme-card:hover img {
  transition: 1s;
  opacity: 70%;
}
.theme-field > .position .theme-card:active {
  transition: 1ms;
  opacity: 30%;
}
.theme-field > .position .theme-card div:nth-child(1) {
  width: 100%;
  padding: 10px 20px;
  background-color: var(--bg-panel);
  border-start-start-radius: 10px;
}
.theme-field > .position .theme-card div:nth-child(1) h1 {
  opacity: 80%;
  font-size: 1rem;
  font-weight: normal;
  color: var(--color-headings);
}
.theme-field > .position .theme-card img {
  width: 90%;
  height: 143px;
  border-radius: 5px;
  border: 1px solid var(--color-border);
  margin-top: 13px;
}
.theme-field > .position .active {
  border: 1px solid var(--color-primary);
  position: relative;
  overflow: initial;
}
.theme-field > .position .active::after {
  content: url(https://i.postimg.cc/FsDBx49S/vector-check.png);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  background-color: var(--color-primary);
  position: absolute;
  top: -5px;
  right: -5px;
}

.notfound-field {
  width: 100%;
  height: 100vh;
  background: var(--bg-color);
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.notfound-field .div-image {
  width: 800px;
  height: 50vh;
  position: relative;
  margin-bottom: 20vh;
}
.notfound-field .div-image > h1 {
  font-family: "Roboto Slab", serif;
  font-size: 6rem;
  color: var(--color-headings);
  position: absolute;
  top: 0;
  right: 50%;
  margin: 0 -75px;
  z-index: 99;
}
.notfound-field .div-info {
  width: 450px;
  position: absolute;
  bottom: -70px;
  right: 50%;
  margin: 0 -225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99;
}
.notfound-field .div-info h3 {
  font-family: "Roboto Slab", serif;
  font-weight: normal;
  font-size: 3rem;
  color: var(--color-headings);
}
.notfound-field .div-info p {
  color: var(--color-text);
  font-size: 1.1rem;
}
.notfound-field .div-info .btn-home {
  color: #fff;
  padding: 10px 20px;
  background: var(--color-primary);
  text-decoration: none;
  margin-top: 30px;
}
.notfound-field .div-info .btn-home:hover {
  transition: 1s;
  text-decoration: underline;
}
.notfound-field .div-info .btn-home:active {
  transform: 0.1s;
  opacity: 10%;
}

.quiz-field {
  display: flex;
  justify-content: center;
  min-height: 80vh;
}
.quiz-field .position {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.quiz-field .position > div:nth-child(1) {
  width: 40%;
}
.quiz-field .position > div:nth-child(1) img {
  width: 360px;
  height: 220px;
  border-radius: 15px;
  border: 1px solid var(--color-border);
  padding: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.quiz-field .position > div:nth-child(1) > div {
  display: flex;
  margin-top: 10px;
}
.quiz-field .position > div:nth-child(1) > div span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: 3px;
  font-size: 0.8rem;
}
.quiz-field .position > div:nth-child(1) > div span:nth-child(2) {
  margin-left: 10px;
  color: var(--color-headings);
  font-weight: bold;
}
.quiz-field .position > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 55%;
}
.quiz-field .position > div:nth-child(2) > h1 {
  font-weight: normal;
  font-size: 1.4rem;
  color: var(--color-headings);
  width: 100%;
  border-bottom: 1px solid var(--color-border);
  padding: 10px 0;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
}
.quiz-field .position > div:nth-child(2) > h1 > div {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
.quiz-field .position > div:nth-child(2) > h1 > div div:nth-child(1) svg {
  margin-right: 3px;
}
.quiz-field .position > div:nth-child(2) > h1 > div > div {
  position: relative;
}
.quiz-field .position > div:nth-child(2) > h1 > div > div:hover:after {
  content: attr(data-description);
  position: absolute;
  top: -30px;
  left: 17px;
  padding: 7px 15px;
  border: 1px solid var(--color-border);
  border-radius: 10px 10px 10px 0;
  background-color: var(--bg-description);
  color: var(--color2);
  font-size: 0.7rem;
  z-index: 50;
}
.quiz-field .position > div:nth-child(2) > h1 > div > div svg {
  width: 22px;
  height: 22px;
  cursor: pointer;
  opacity: 20%;
  z-index: 99;
}
.quiz-field .position > div:nth-child(2) > h1 > div > div svg:hover {
  transition: 1s;
  opacity: 50%;
}
.quiz-field .position > div:nth-child(2) > h1 > div > div svg:active {
  transition: 1ms;
  opacity: 5%;
}
.quiz-field .position > div:nth-child(2) > span {
  color: var(--color-text);
  font-size: 0.9rem;
}
.quiz-field .position > div:nth-child(2) p {
  color: var(--color-text);
  font-size: 0.75rem;
  opacity: 70%;
  margin-top: 5px;
}
.quiz-field .position > div:nth-child(2) button {
  cursor: pointer;
  padding: 10px;
  width: 50%;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid var(--color-border);
  color: var(--color-text);
  margin-top: 20px;
}
.quiz-field .position > div:nth-child(2) button:hover {
  transition: 1s;
  background-color: var(--color-primary);
  color: var(--color);
  font-weight: bold;
}
.quiz-field .position > div:nth-child(2) button:active {
  transition: 1ms;
  opacity: 20%;
}
.quiz-field .position > div:nth-child(2) .data-quiz {
  display: flex;
  margin-top: 10px;
}
.quiz-field .position > div:nth-child(2) .data-quiz span {
  display: flex;
  align-items: center;
  color: var(--color-text);
  font-size: 0.7rem;
  opacity: 50%;
  margin-right: 20px;
}
.quiz-field .position > div:nth-child(2) .data-quiz span svg {
  width: 20px;
  height: 20px;
  opacity: 50%;
  margin-right: 5px;
  margin-bottom: 2px;
}

.quiz-page {
  width: 100vw;
  height: 100vh;
  z-index: 999;
  position: fixed;
  background-color: var(--bg-panel);
  display: flex;
  align-items: center;
  justify-content: center;
}
.quiz-page > div {
  width: 60%;
  min-height: 75vh;
  max-height: 75vh;
  background-color: var(--bg-color);
  border: 1px solid var(--color-border);
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
.quiz-page > div::-webkit-scrollbar {
  width: 10px;
  border: none;
}
.quiz-page > div::-webkit-scrollbar-track {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: var(--bg-color);
}
.quiz-page > div::-webkit-scrollbar-thumb {
  background-color: var(--bg-panel);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid var(--color-border);
}
.quiz-page > div .header {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quiz-page > div .header input[type=range] {
  width: 100%;
}
.quiz-page > div .header span {
  color: var(--color-text);
  margin-top: 25px;
}
.quiz-page > div .position {
  width: 85%;
  margin-top: 50px;
}
.quiz-page > div .position > h1 {
  font-size: 1.1rem;
  font-weight: normal;
  color: var(--color-headings);
  margin-top: 40px;
}
.quiz-page > div .position .questions-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.quiz-page > div .position .questions-field > span {
  padding: 10px 20px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  width: 100%;
  margin: 5px;
  font-size: 0.88rem;
  color: var(--color-text);
  cursor: pointer;
}
.quiz-page > div .position .questions-field > span:hover {
  transition: 1s;
  background-color: var(--color-primary);
  color: var(--color);
  font-weight: bold;
}
.quiz-page > div .position .questions-field .correct {
  transition: 1ms;
  background: #07bc0c;
  color: var(--color);
  font-weight: bold;
}
.quiz-page > div .position .questions-field .correct:hover {
  transition: 1ms;
  background-color: #07bc0c;
}
.quiz-page > div .position .questions-field .wrong {
  transition: 1ms;
  background: #e74c3c;
  color: var(--color);
  font-weight: bold;
}
.quiz-page > div .position .questions-field .wrong:hover {
  transition: 1ms;
  background-color: #e74c3c;
}
.quiz-page > div .position button {
  padding: 10px;
  width: 130px;
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid var(--color-border);
  background-color: var(--bg-color);
  color: var(--color-text);
  margin-top: 20px;
  position: fixed;
  bottom: 15vh;
  right: 22%;
  z-index: 99;
}
.quiz-page > div .position button:hover {
  transition: 1s;
  background-color: var(--color-primary);
  color: var(--color);
  font-weight: bold;
}
.quiz-page > div .position button:active {
  transition: 1ms;
  opacity: 20%;
}
.quiz-page > div .result-quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.quiz-page > div .result-quiz h1 {
  color: var(--color-headings);
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.quiz-page > div .result-quiz span {
  color: var(--color-text);
  font-size: 1rem;
  margin-bottom: 140px;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
}

.header .active {
  -webkit-animation: progress 60s linear forwards;
          animation: progress 60s linear forwards;
}

@-webkit-keyframes progress {
  0% {
    width: 0;
    background-color: var(--color-primary);
  }
  79% {
    width: 79%;
    background-color: var(--color-primary);
    opacity: 30%;
  }
  80% {
    width: 80%;
  }
  100% {
    width: 100%;
    background-color: orangered;
  }
}

@keyframes progress {
  0% {
    width: 0;
    background-color: var(--color-primary);
  }
  79% {
    width: 79%;
    background-color: var(--color-primary);
    opacity: 30%;
  }
  80% {
    width: 80%;
  }
  100% {
    width: 100%;
    background-color: orangered;
  }
}
.form-login {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.form-login form {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20vh;
}
@media only screen and (max-width: 800px) {
  .form-login form {
    width: 85%;
  }
}
.form-login form h1 {
  font-size: 2rem;
  color: var(--color-headings);
  font-weight: normal;
  margin-top: 20px;
  opacity: 90%;
}
.form-login form h1 span {
  font-weight: bolder;
  font-size: 2.2rem;
}
.form-login form > p {
  color: var(--color-text);
  margin-bottom: 60px;
  margin-top: 10px;
  font-size: 1rem;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .form-login form > p {
    font-size: 0.9rem;
  }
}
.form-login form > p a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bolder;
  font-size: 1.1rem;
}
.form-login form > p a:hover {
  transition: 1s;
  opacity: 50%;
  text-decoration: underline;
}
.form-login form > p a:active {
  transition: 0.1s;
  opacity: 100%;
  text-decoration: none;
}
.form-login form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}
.form-login form > div:nth-child(3) {
  margin-bottom: 45px;
}
.form-login form > div label {
  position: absolute;
  top: 0;
  font-size: 1.05rem;
  color: var(--color-text);
}
.form-login form > div input {
  border: none;
  border-bottom: 1px solid var(--color-border);
  padding: 5px;
  outline: none;
  font-size: 1rem;
  background-color: var(--bg-color);
  color: var(--color-headings);
}
.form-login form > div input + label {
  transform: translateY(-20px);
  font-size: 0.9rem;
}
.form-login form > div input:-moz-placeholder-shown + label {
  transform: translateY(0);
  font-size: 1rem;
}
.form-login form > div input:-ms-input-placeholder + label {
  transform: translateY(0);
  font-size: 1rem;
}
.form-login form > div input:placeholder-shown + label {
  transform: translateY(0);
  font-size: 1rem;
}
.form-login form > div input::-moz-placeholder {
  visibility: hidden;
}
.form-login form > div input:-ms-input-placeholder {
  visibility: hidden;
}
.form-login form > div input::placeholder {
  visibility: hidden;
}
.form-login form > div input:focus {
  transition: 1s;
  border-bottom: 1px solid var(--color-primary);
}
.form-login form > div input:focus + label {
  transition: 0.5s;
  transform: translateY(-20px);
  font-size: 0.9rem;
  color: var(--color-primary);
}
.form-login form > div svg {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  cursor: pointer;
  border-radius: 20px;
  opacity: 40%;
}
.form-login form > div svg:hover {
  transition: 1s;
  background: rgba(255, 255, 255, 0.1);
}
.form-login form > a {
  margin-top: 25px;
  margin-bottom: 40px;
  text-decoration: none;
  width: 100%;
  text-align: left;
  color: var(--color-text);
  font-size: 0.9rem;
  opacity: 70%;
}
.form-login form > a:hover {
  transition: 1s;
  opacity: 100%;
  color: var(--color-primary);
}
.form-login form input[type=submit] {
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid var(--color-border);
  color: var(--color-text);
  width: 100%;
  padding: 10px;
  cursor: pointer;
  font-size: 1.05rem;
  margin-bottom: 40px;
}
.form-login form input[type=submit]:hover {
  transition: 1s;
  background-color: var(--color-primary);
  color: var(--color);
  font-weight: bold;
}
.form-login form input[type=submit]:active {
  transition: 1ms;
  opacity: 20%;
}

.form-register {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.form-register form {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15vh;
}
@media only screen and (max-width: 800px) {
  .form-register form {
    width: 85%;
  }
}
.form-register form h1 {
  font-size: 2rem;
  color: var(--color-headings);
  font-weight: normal;
  margin-top: 20px;
  text-align: center;
  opacity: 90%;
}
@media only screen and (max-width: 800px) {
  .form-register form h1 {
    font-size: 1.5rem;
  }
}
.form-register form h1 span {
  font-weight: bolder;
  font-size: 2.2rem;
}
@media only screen and (max-width: 800px) {
  .form-register form h1 span {
    font-size: 1.7rem;
  }
}
.form-register form > p {
  color: var(--color-text);
  margin-bottom: 60px;
  margin-top: 10px;
  font-size: 1rem;
  text-align: center;
}
.form-register form > p a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bolder;
  font-size: 1.1rem;
}
.form-register form > p a:hover {
  transition: 1s;
  opacity: 50%;
  text-decoration: underline;
}
.form-register form > p a:active {
  transition: 0.1s;
  opacity: 100%;
  text-decoration: none;
}
.form-register form > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.form-register form > div .container-input {
  width: 48%;
}
.form-register form .container-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-bottom: 45px;
}
.form-register form .container-input label {
  position: absolute;
  top: 0;
  font-size: 1.05rem;
  color: var(--color-text);
}
.form-register form .container-input input {
  border: none;
  border-bottom: 1px solid var(--color-border);
  padding: 5px;
  outline: none;
  font-size: 1rem;
  background-color: var(--bg-color);
  color: var(--color-headings);
}
.form-register form .container-input input + label {
  transform: translateY(-20px);
  font-size: 0.9rem;
}
.form-register form .container-input input:-moz-placeholder-shown + label {
  transform: translateY(0);
  font-size: 1rem;
}
.form-register form .container-input input:-ms-input-placeholder + label {
  transform: translateY(0);
  font-size: 1rem;
}
.form-register form .container-input input:placeholder-shown + label {
  transform: translateY(0);
  font-size: 1rem;
}
.form-register form .container-input input::-moz-placeholder {
  visibility: hidden;
}
.form-register form .container-input input:-ms-input-placeholder {
  visibility: hidden;
}
.form-register form .container-input input::placeholder {
  visibility: hidden;
}
.form-register form .container-input input:focus {
  transition: 1s;
  border-bottom: 1px solid var(--color-primary);
}
.form-register form .container-input input:focus + label {
  transition: 0.5s;
  transform: translateY(-20px);
  font-size: 0.9rem;
  color: var(--color-primary);
}
.form-register form .container-input svg {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  cursor: pointer;
  border-radius: 20px;
  opacity: 40%;
}
.form-register form .container-input svg:hover {
  transition: 1s;
  background: rgba(255, 255, 255, 0.1);
}
.form-register form input[type=submit] {
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid var(--color-border);
  color: var(--color-text);
  width: 100%;
  padding: 10px;
  cursor: pointer;
  font-size: 1.05rem;
  margin-bottom: 40px;
}
.form-register form input[type=submit]:hover {
  transition: 1s;
  background-color: var(--color-primary);
  color: var(--color);
  font-weight: bold;
}
.form-register form input[type=submit]:active {
  transition: 1ms;
  opacity: 20%;
}

.dropdown {
  width: 170px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  background-color: var(--bg-color);
  position: absolute;
  right: 0;
  margin-top: 10px;
  z-index: 99;
}
.dropdown > span, .dropdown > a {
  width: 100%;
  display: flex;
  padding: 7px 20px;
  color: var(--color-text);
  font-size: 0.9rem;
  cursor: pointer;
  text-decoration: none;
}
.dropdown > span:hover, .dropdown > a:hover {
  transition: 2s;
  background-color: var(--color-primary);
  color: var(--bg-color);
}
.dropdown > span:active, .dropdown > a:active {
  transition: 1ms;
  opacity: 20%;
}
.dropdown .header {
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--color-border);
  color: var(--color-headings);
  cursor: default;
}
.dropdown .header:hover {
  background-color: var(--bg-color);
  color: var(--color-headings);
}
.dropdown .header:active {
  opacity: 100%;
}
.dropdown .log-out {
  border-top: 1px solid var(--color-border);
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 0 0 5px 5px;
}

.login-redirect {
  min-height: 80vh;
  min-width: 73%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login-redirect img {
  margin-bottom: 10px;
}
.login-redirect > h1 {
  font-weight: normal;
  font-size: 2rem;
  color: var(--color-headings);
  margin-bottom: 15px;
}
.login-redirect > span {
  color: var(--color-text);
  font-size: 1rem;
  width: 22vw;
  text-align: center;
}
.login-redirect > a {
  cursor: pointer;
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid var(--color-border);
  color: var(--color-text);
  margin-top: 20px;
  margin-bottom: 20vh;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-redirect > a:hover {
  transition: 1s;
  background-color: var(--color-primary);
  color: var(--color);
  font-weight: bold;
}
.login-redirect > a:active {
  transition: 1ms;
  opacity: 20%;
}

.account-field {
  display: flex;
  justify-content: center;
  width: 73%;
}
.account-field > .position {
  width: 90%;
  margin-top: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.account-field > .position > h1 {
  font-weight: normal;
  font-size: 1.4rem;
  color: var(--color-headings);
  width: 100%;
  border-bottom: 1px solid var(--color-border);
  padding: 10px 0;
  margin-bottom: 20px;
}
.account-field > .position > span {
  color: var(--color-text);
  font-size: 0.9rem;
}
.account-field > .position > div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 10px;
}
.account-field > .position > div label {
  color: var(--color-text);
  font-size: 1rem;
}
.account-field > .position > div input {
  padding: 7px 15px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid var(--color-border);
  outline-color: var(--color-primary);
  color: var(--color-text);
  background-color: var(--bg-color);
}
.account-field > .position button {
  position: absolute;
  right: 0;
  bottom: 7vh;
  cursor: pointer;
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid var(--color-border);
  color: var(--color-text);
  margin-top: 35px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.account-field > .position button:hover {
  transition: 1s;
  background-color: var(--color-primary);
  color: var(--color);
  font-weight: bold;
}
.account-field > .position button:active {
  transition: 1ms;
  opacity: 20%;
}
.account-field > .position .field-upload {
  width: 30%;
  display: flex;
  flex-direction: initial;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}
.account-field > .position .field-upload span {
  font-size: 0.7rem;
  color: var(--color-text);
  text-align: center;
  width: 70%;
  margin-bottom: 15px;
}
.account-field > .position .field-upload .field-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 2px dashed var(--color-border);
  border-radius: 5px;
  margin-right: 10px;
}
.account-field > .position .field-upload .field-image > img {
  border: 2px dashed var(--color-border);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.account-field > .position .field-upload input[type=file] {
  display: none;
}
.account-field > .position .field-upload input[type=file] ~ div {
  min-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.account-field > .position .field-upload input[type=file] ~ div label {
  width: 100%;
  cursor: pointer;
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid var(--color-border);
  color: var(--color-text);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
}
.account-field > .position .field-upload input[type=file] ~ div label:hover {
  transition: 1s;
  background-color: var(--color-primary);
  color: var(--color);
  font-weight: bold;
}
.account-field > .position .field-upload input[type=file] ~ div label:active {
  transition: 1ms;
  opacity: 20%;
}
.account-field > .position .field-upload input[type=file] ~ div button {
  width: 100%;
  margin-top: 0;
  font-size: 0.9rem;
  position: initial;
}
.account-field > .position .btn-text {
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  text-align: left;
  color: var(--color-text);
  font-size: 0.9rem;
  margin-bottom: 25px;
}
.account-field > .position .btn-text:hover {
  transition: 1s;
  opacity: 100%;
  color: var(--color-primary);
}
.account-field > .position .btn-delete-account:hover {
  transition: 1s;
  opacity: 100%;
  color: red;
}

.forgot-password-field {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.forgot-password-field form {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20vh;
}
.forgot-password-field form h1 {
  font-size: 2rem;
  color: var(--color-headings);
  font-weight: normal;
  margin-top: 20px;
  opacity: 90%;
}
.forgot-password-field form h1 > span {
  font-weight: bolder;
  font-size: 2.2rem;
}
.forgot-password-field form > span {
  color: var(--color-text);
  margin-bottom: 45px;
  margin-top: 10px;
  font-size: 1rem;
  text-align: center;
}
.forgot-password-field form > span > span {
  font-weight: bolder;
  font-size: 1.1rem;
}
@media only screen and (max-width: 800px) {
  .forgot-password-field form > span {
    font-size: 0.9rem;
  }
}
.forgot-password-field form > div {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 35px;
  position: relative;
}
.forgot-password-field form > div input[type=number] {
  text-align: center;
  width: 13%;
  border: none;
  border-bottom: 1px solid var(--color-border);
  padding: 5px;
  outline: none;
  font-size: 1.5rem;
  background-color: var(--bg-color);
  color: var(--color-text);
}
.forgot-password-field form > div input[type=number]::-webkit-outer-spin-button, .forgot-password-field form > div input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.forgot-password-field form > div input[type=number]::-moz-placeholder {
  color: var(--color-border);
  opacity: 70%;
}
.forgot-password-field form > div input[type=number]:-ms-input-placeholder {
  color: var(--color-border);
  opacity: 70%;
}
.forgot-password-field form > div input[type=number]::placeholder {
  color: var(--color-border);
  opacity: 70%;
}
.forgot-password-field form > div input[type=number]:focus {
  transition: 1s;
  border-bottom: 1px solid var(--color-primary);
  color: var(--color-primary);
}
.forgot-password-field form > div input[type=number]:focus::-moz-placeholder {
  color: var(--color-primary);
  opacity: 7%;
}
.forgot-password-field form > div input[type=number]:focus:-ms-input-placeholder {
  color: var(--color-primary);
  opacity: 7%;
}
.forgot-password-field form > div input[type=number]:focus::placeholder {
  color: var(--color-primary);
  opacity: 7%;
}
.forgot-password-field form > div label {
  position: absolute;
  top: 0;
  font-size: 1.05rem;
  color: var(--color-text);
}
.forgot-password-field form > div input[type=email], .forgot-password-field form > div input[type=text], .forgot-password-field form > div input[type=password] {
  border: none;
  border-bottom: 1px solid var(--color-border);
  padding: 5px;
  outline: none;
  font-size: 1rem;
  background-color: var(--bg-color);
  color: var(--color-headings);
}
.forgot-password-field form > div input[type=email] + label, .forgot-password-field form > div input[type=text] + label, .forgot-password-field form > div input[type=password] + label {
  transform: translateY(-20px);
  font-size: 0.9rem;
}
.forgot-password-field form > div input[type=email]:-moz-placeholder-shown + label, .forgot-password-field form > div input[type=text]:-moz-placeholder-shown + label, .forgot-password-field form > div input[type=password]:-moz-placeholder-shown + label {
  transform: translateY(0);
  font-size: 1rem;
}
.forgot-password-field form > div input[type=email]:-ms-input-placeholder + label, .forgot-password-field form > div input[type=text]:-ms-input-placeholder + label, .forgot-password-field form > div input[type=password]:-ms-input-placeholder + label {
  transform: translateY(0);
  font-size: 1rem;
}
.forgot-password-field form > div input[type=email]:placeholder-shown + label, .forgot-password-field form > div input[type=text]:placeholder-shown + label, .forgot-password-field form > div input[type=password]:placeholder-shown + label {
  transform: translateY(0);
  font-size: 1rem;
}
.forgot-password-field form > div input[type=email]::-moz-placeholder, .forgot-password-field form > div input[type=text]::-moz-placeholder, .forgot-password-field form > div input[type=password]::-moz-placeholder {
  visibility: hidden;
}
.forgot-password-field form > div input[type=email]:-ms-input-placeholder, .forgot-password-field form > div input[type=text]:-ms-input-placeholder, .forgot-password-field form > div input[type=password]:-ms-input-placeholder {
  visibility: hidden;
}
.forgot-password-field form > div input[type=email]::placeholder, .forgot-password-field form > div input[type=text]::placeholder, .forgot-password-field form > div input[type=password]::placeholder {
  visibility: hidden;
}
.forgot-password-field form > div input[type=email]:focus, .forgot-password-field form > div input[type=text]:focus, .forgot-password-field form > div input[type=password]:focus {
  transition: 1s;
  border-bottom: 1px solid var(--color-primary);
}
.forgot-password-field form > div input[type=email]:focus + label, .forgot-password-field form > div input[type=text]:focus + label, .forgot-password-field form > div input[type=password]:focus + label {
  transition: 0.5s;
  transform: translateY(-20px);
  font-size: 0.9rem;
  color: var(--color-primary);
}
.forgot-password-field form > div svg {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  cursor: pointer;
  border-radius: 20px;
  opacity: 40%;
}
.forgot-password-field form > div svg:hover {
  transition: 1s;
  background: rgba(255, 255, 255, 0.1);
}
.forgot-password-field form .div-input {
  display: flex;
  flex-direction: column;
}
.forgot-password-field form input[type=submit] {
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid var(--color-border);
  color: var(--color-text);
  width: 100%;
  padding: 10px;
  cursor: pointer;
  font-size: 1.05rem;
  margin-bottom: 40px;
}
.forgot-password-field form input[type=submit]:hover {
  transition: 1s;
  background-color: var(--color-primary);
  color: var(--color);
  font-weight: bold;
}
.forgot-password-field form input[type=submit]:active {
  transition: 1ms;
  opacity: 20%;
}/*# sourceMappingURL=globals.css.map */